VITE_SUPABASE_URL=
VITE_SUPABASE_PUBLISHABLE_KEY=
VITE_ENABLE_SUPABASE_IN_DEV=false
VITE_DEMO_ADMIN_PASSWORD=admin

SUPABASE_SECRET_KEY=
ADMIN_PASSWORD=admin
LUNCH_PASSWORD=church
FULL_PASSWORD=dinner
